/*------------全局样式------------*/
body,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,span,a,
input,textarea,p,blockquote,th,td,header,nav,footer,article,
section,aside,time,figure,img,div{margin:0;padding:0;-webkit-tap-highlight-color:rgba(0,0,0,0)}
h1,h2,h3,h4,h5,h6{font-weight:normal}
ul{list-style:none}
legend{display:none}
fieldset,img{border:none;vertical-align:middle}
em,cite,i{font-style:normal}
input,button,textarea{outline:none;border:0;vertical-align:middle;border:0;font-family:Arial}
input[type="submit"],input[type="reset"],input[type="button"],button {-webkit-appearance:none;border-radius:0}
select{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{resize:none}
html{height:100%;}
body a:hover,body a:active,body a:focus{text-decoration:none;outline:none}
html{
	font-size: 62.5%;-webkit-text-size-adjust:none;overflow:hidden;
}
body{
	width: 100%;
	height: 100%;
	background: #202125;
}
#loadingDiv{
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 111111;
	background: #202125;
	position: absolute;
	line-height: 100%;
	left: 0;
	top: 0;
	font-size: 2rem;
	color: #fff;
}
#loadingDiv .loading{
	position: absolute;
	width: 100%;
	left: 50%;
	top: 45%;
	transform: translate(-50%);
	-webkit-transform: translate(-50%);
}
/*.loadEffect{
    width: 10rem;
    height: 10rem;
    position: relative;
    margin: 0 auto;
   transform: scale(0.7);
   -webkit-transform: scale(0.7);
}
.loadEffect span{
    display: inline-block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    animation: load 1.04s ease infinite;
    -webkit-animation: load 1.04s ease infinite;
}
@keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.loadEffect span:nth-child(1){
    left: 0;
   top: 50%;
    margin-top:-0.8rem;
    -webkit-animation-delay:0.13s;
    animation-delay:0.13s;
}
.loadEffect span:nth-child(2){
    left: 1.4rem;
    top: 1.4rem;
    -webkit-animation-delay:0.26s;
    animation-delay:0.26s;
}
.loadEffect span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -0.8rem;
    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.loadEffect span:nth-child(4){
    top: 1.4rem;
    right:1.4rem;
    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.loadEffect span:nth-child(5){
    right: 0;
   	top: 50%;
    margin-top:-0.8rem;
    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}
.loadEffect span:nth-child(6){
    right: 1.4rem;
    bottom:1.4rem;
    -webkit-animation-delay:0.78s;
    animation-delay:0.78s;
}
.loadEffect span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -0.8rem;
    -webkit-animation-delay:0.91s;
    animation-delay:0.91s;
}
.loadEffect span:nth-child(8){
    bottom: 1.4rem;
    left: 1.4rem;
    -webkit-animation-delay:1.04s;
    animation-delay:1.04s;
}*/


#main{
	background: #202125;
	width: 100%;
	height: 100%;
	z-index: 111;
	position: relative;
}
.page1{
	width: 100%;
	height: 100%;
	background: #202125;
	color: #fff;
}

.page1 .time{
	position: absolute;
	top:0.4rem;
	left: 50%;
	width: 90%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
}
.page1 .time .time-clock{
	position: relative;
	font-size: 9rem;
	font-family: 'HelveticaNeue';
}
.time-clock img{
	display: inline-block;
	position: absolute;
	left: 48%;top: 30%;

}
.page1 .time .time-date{
	font-size: 1.6rem;
	font-weight: 500;
	margin-top: -0.5rem;
	font-family: Arial,Helvetica,sans-serif;
}
.page1-footer{
	width: 100%;
	height: 5.6rem;
	position: absolute;
	bottom: 0;
	text-align: center;
	opacity: 0.5;
}
.page1-footer .page1-footer-lock{
	position: relative;
	width: 12rem;
	font-size: 2.3rem;
	margin: 0.5rem auto 0 auto;
	padding-left: 1.3rem;
	animation: footer-lock 1.5s infinite;
	-webkit-animation: footer-lock 1.5s infinite;
}
@keyframes  footer-lock{
	from{
		opacity: 0.4;
	}
	to{
		opacity: 1;
	}
}
@-webkit-keyframes  footer-lock{
	from{
		opacity: 0.4;
	}
	to{
		opacity: 1;
	}
}
.page1-footer .page1-footer-lock:before{
	position: absolute;
	content: '›';
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
	left: 0.2rem;
	top:-0.2rem;
}
.page1-footer-icon span{
	position: relative;
	bottom: 1.2rem;
	display: inline-block;
	width: 3.5rem;
	height: 0.7rem;
	background: #fff;
	border-radius: 10px;
	margin-top: 2.5rem;
}
.page1-footer-icon i{
	display: inline-block;
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	position: absolute;
	right:0.2rem;
	bottom: 0.6rem;
	width: 2.5rem;
	height: 1.9rem;
	background: url(../images/camera.png) no-repeat;
}
.wx-msg {
	position: absolute;
	top: 30%;
	left:0;
	width: 100%;
}
.wx-msg i{
	display: inline-block;
	position: absolute;
	top:0.8rem;
	left:0rem;
	width: 2rem;
	height: 2rem;
	background: url(../images/wx.png) no-repeat;
	margin-left: 1.6rem;
}
.wx-msg ul li{
	border-top: 0.2rem solid #2B2C30;
	position: relative;
	height: 7rem;
}
.wx-msg ul li div {
	display: inline-block;
	margin: 0.4rem 0 0 4.5rem;
	height: 7rem;
	font-family: Helvetica;
}
.wx-msg ul li div p{
	font-size: 1.8rem;
	margin-top: 0.22rem;
	opacity: 0.8;
	font-weight: ;
}
.wx-msg-op{
	font-size: 1rem !important;
	opacity: 0.6 !important;
	margin-top: 0.1rem !important;
}
.wx-msg ul{
	overflow: hidden;
}
.wx-msg ul li + li{
	height: 5.3rem;
	opacity: 0.6 ;
}
.wx-msg ul li + li i{
	transform: scale(0.9);
	-webkit-transform: scale(0.9);
}
.wx-msg ul li + li p{
	font-size: 1.5rem;
	margin-top: 0.4rem;
}
.wx-msg .wx-now{
	position: relative;
}
.wx-msg .wx-now:after{
	position: absolute;
	content: '现在';
	opacity:0.5;
	width: 3rem;
	font-size: 1.2rem;
	top: 0.4rem;
	padding-left: 0.4rem;
}

/*--------解锁页面-----------*/
.page1 .lock{
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transform: translateX(-100%);
	-webkit-transform: translateX(-100%);
	background: #202125;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
}

/*-----密码框------*/

.lock .lock-password{
	position: absolute;
	top:4.5rem;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	text-align: center;
}
.lock .lock-password p{
	font-size: 2.5rem;
	text-align: center;
}
.lock .lock-password div{
	width: 16rem;
	height: 3rem;
	margin: 2rem auto;
	opacity: .9;
}
.lock .lock-password input{
	display: inline-block;
	text-align: center;
	line-height: 1.6rem;
	font-size: 1.6rem;
	width: 1.6rem;
	height: 1.6rem;
	border:1px solid #555559;
	border-radius: 50%;
	margin-left: 0.7rem;
	background: #908c8c;
}
.lock-tips{
	font-size: 1.6rem !important;
	margin-top: -2rem;
	opacity: 0.7;
	
}
.lock-tips-move{
	animation: move 0.5s ;
	-webkit-animation: move 0.5s;
}
@keyframes move{
	0% {transform:translateX(-0.8rem);-webkit-transform:translateX(-0.8rem);}
	20% {transform:translateX(0.8rem);-webkit-transform:translateX(0.8rem);}
	30% {transform: translateX(-1.2rem);-webkit-transform: translateX(-1.2rem);}
	40% {transform: translateX(1.2rem);-webkit-transform: translateX(1.2rem);}
	60% {transform: translateX(-1.5rem);-webkit-transform: translateX(-1.5rem);}
	80% {transform: translateX(1.5rem);-webkit-transform: translateX(1.5rem);}
	100% {transform: translateX(0rem);-webkit-transform: translateX(0rem);}
}
@-webkit-keyframes move{
	0% {transform:translateX(-0.8rem);-webkit-transform:translateX(-0.8rem);}
	20% {transform:translateX(0.8rem);-webkit-transform:translateX(0.8rem);}
	30% {transform: translateX(-1.2rem);-webkit-transform: translateX(-1.2rem);}
	40% {transform: translateX(1.2rem);-webkit-transform: translateX(1.2rem);}
	60% {transform: translateX(-1.5rem);-webkit-transform: translateX(-1.5rem);}
	80% {transform: translateX(1.5rem);-webkit-transform: translateX(1.5rem);}
	100% {transform: translateX(0rem);-webkit-transform: translateX(0rem);}
}

/*-----九个数字------*/

.lock-num-ul{
	position: relative;
	width: 24rem;
	height: 24rem;
	margin: 50% auto;
}
.lock-num-ul li{
	position: relative;
	width:7rem;
	height: 7rem;
	margin:0.5rem ;
	border:1px solid #555559;
	border-radius: 50%;
	box-sizing:border-box;
	float: left;
	line-height: 6rem;
	text-align: center;
	font-size:4rem ;
	opacity: 0.7;
}
.lock-num-ul  li:after{
	position: absolute;
	bottom: -1.1rem;
	left:2.4rem;
	font-size: 1rem;
	letter-spacing: 0.5rem;
}
.lock-num-ul  li:nth-of-type(2):after{
	content: 'ABC';
}
.lock-num-ul li:nth-of-type(3):after{
	content: 'DEF';
}
.lock-num-ul  li:nth-of-type(4):after{
	content: 'GHI';
}
.lock-num-ul li:nth-of-type(5):after{
	content: 'JKL';
}
.lock-num-ul li:nth-of-type(6):after{
	content: 'MNO';
}
.lock-num-ul li:nth-of-type(7):after{
	content: 'PQRS';
	left:1.9rem;
}
.lock-num-ul li:nth-of-type(8):after{
	content: 'TUV';
}
.lock-num-ul li:nth-of-type(9):after{
	content: 'WSYZ';
	left:1.9rem;
}
.lock-num-ul li:last-child{
	position: absolute;
	left: 50%;
	transform: translateX(-55%);
	line-height: 7rem;
	top: 100%;
}

.lock-2 span{
	position: absolute;
	font-size: 2rem;
	color: #fff
}
.lock-2 span:nth-of-type(1){
	bottom: 3rem;
	left: 3.5rem;
}
.lock-2 span:nth-of-type(2){
	bottom: 3rem;
	right: 3.5rem;
}



/*-----home主屏------*/

.main-home{
	width: 100%;
	height: 100%;
	background: #191919;
	position: absolute;
	left: 0;
	top: 0;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
}
.main-home ul{
	width: 100%;
	height: 60%;
	margin-top: 1rem;
}
.main-home ul li{
	float: left;
	width: 20%;
	height: 8rem;
	margin:2.5%;
	position: relative;
}
.main-home ul li span{
	position: absolute;
	right: -1rem;
	top: -0.7rem;
	display: block;
	width: 2.8rem;
	height: 1.8rem;
	background: #f6242d;
	border-radius: 2rem;
	text-align: center;
	line-height: 1.8rem;
	color: #fff;
	font-size: 1.6rem;
	
}
.main-home ul li .home-span1{
	animation: home-span1  1s infinite;
	-webkit-animation: home-span1  1s infinite;
}
.main-home ul li .home-span2{
	animation: home-span1  0.8s infinite;
	-webkit-animation: home-span1  0.8s infinite;
}
.main-home ul li .home-span3{
	animation: home-span1  1.2s infinite;
	-webkit-animation: home-span1  1.2s infinite;
}
@keyframes home-span1{
	form{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	to{
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
}
@-webkit-keyframes home-span1{
	form{
		transform: scale(1);
		-webkit-transform: scale(1);
	}
	to{
		transform: scale(1.05);
		-webkit-transform: scale(1.05);
	}
}

.main-home{
	width: 100%;
	height: 100%;
}
.main-home ul li img{
	width: 100%;
}
.main-home .home-four{
	width: 8rem;
	margin: 0 auto;
	padding-bottom: 2rem;
}
.main-home .home-four span{
	display: inline-block;
	float: left;
	width: 0.8rem;
	height: 0.8rem;
	background: #626564;
	margin-left: 1rem;
	border-radius: 50%;
	
}
.main-home .home-four .home-four-active{
	background: #fff;
}
.home-bot {
	width: 100%;
	position: absolute;
	bottom: 0;
}
.home-bot img{
	width: 100%;
	height: 90%;
}

.home-show-msg{
	width: 20rem;
	height: 10.5rem;
	background: #fff;
	border-radius: 0.3rem;
	position: absolute;
	top:35%;
	left: 50%;
	margin-left: -10rem;
	transform: scale(0.7);
	-webkit-transform: scale(0.7);
	opacity: 0;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	z-index: 11111;
}
.home-show-top{
	height: 6.5rem;
	color: #000;
	text-align: center;
	padding-bottom: 0.5rem;
}
.home-show-top h3{
	padding-top: 1.2rem;
	font-size: 2.2rem;
	
}
.home-show-top p{
	font-size: 1.2rem;
	padding-top: 0.4rem;
}
.show-bot{
	width: 20rem;
	height: 4rem;
	border-top: 0.1rem solid #929292;
	color: #59A1E0;
	font-size: 1.8rem;
	box-sizing:border-box;
}
.show-bot div{
	float: left;
	width: 10rem
	height:3.9rem ;
	text-align: center;
	line-height: 4rem;
	background: #fff;
}
.show-bot-left{
	width: 10rem;
	height:3.8rem ;
	border-right: 0.2rem solid #929292;
	box-sizing:border-box;
}
.show-bot-right{
	width: 10rem;
	height:3.8rem ;
	text-align: center;
}

/*--------微信聊天页面--------*/

.wx-page{
	width: 100%;
	height: 100%;
	background: #F5F5F5;
	position: absolute;
	top: 0;
	left: 0;

	overflow: hidden;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.wx-top{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 111;
}
.wx-input{
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 111;
	display: ;
}
.wx-top,.wx-input{
	width: 100%;
}
.wx-top img,.wx-input img{
	width: 100%;
}
.wx-content{
	position: absolute;
	left: 0;
	top: 100%;
	width: 80%;
	margin-top: -4rem;
	z-index: 11;
	
}
.wx-content-move{
	animation:wx-cnt  5s;
	-webkit-animation:wx-cnt  5s;
	animation-fill-mode:forwards;
	-webkit-animation-fill-mode:forwards;
	transform: translateY(-4rem);
	-webkit-transform: translateY(-4rem);
}
@keyframes wx-cnt{
	0%{
		-webkit-transform: translateY(-4rem);transform: translateY(-4rem);
	}
	20%{
		-webkit-transform: translateY(-12rem);transform: translateY(-12rem);
	}
	40%{
		-webkit-transform: translateY(-18rem);transform: translateY(-18rem);
	}
	60%{
		-webkit-transform: translateY(-24rem);transform: translateY(-24rem);
	}
	80%{
		-webkit-transform: translateY(-24rem);transform: translateY(-24rem);
	}
	90%{
		-webkit-transform: translateY(-30rem);transform: translateY(-30rem);
	}
	100%{
		-webkit-transform: translateY(-53rem);transform: translateY(-53rem);
	}
}
@-webkit-keyframes wx-cnt{
	0%{
		-webkit-transform: translateY(-4rem);transform: translateY(-4rem);
	}
	20%{
		-webkit-transform: translateY(-12rem);transform: translateY(-12rem);
	}
	40%{
		-webkit-transform: translateY(-18rem);transform: translateY(-18rem);
	}
	60%{
		-webkit-transform: translateY(-24rem);transform: translateY(-24rem);
	}
	80%{
		-webkit-transform: translateY(-24rem);transform: translateY(-24rem);
	}
	90%{
		-webkit-transform: translateY(-30rem);transform: translateY(-30rem);
	}
	100%{
		-webkit-transform: translateY(-53rem);transform: translateY(-53rem);
	}
}
.wx-content ul li{
	width: 28rem;
	height: 5rem;
	margin: 1.2rem 0.8rem;
}

.wx-content ul li div{
	float: left;
	margin: 0 0 0 1rem;
}
.wx-content ul li img{
	width: 3.7rem;
	float: left;
	height: 3.7rem;
}
.wx-content ul li h3{
	color: #6A6A6A;
	font-size: 1.4rem;
}
.wx-content ul li p{
	margin-top: 0.5rem;
	font-size: 1.7rem;
	color: #000;
	height: 3rem;
	width: 13rem;
	text-align: center;
	line-height: 3rem;
	background: #fff;
	border-radius: 0.5rem;
	border:1px solid #DBDBDB;
	position: relative;
}
.wx-content ul li:nth-of-type(2) div p{
	width: 10rem;
}
.wx-content ul li:nth-of-type(3) div p{
	width: 21rem;
}
.wx-content ul li:nth-of-type(5) div p{
	width: 19rem;
}
.wx-content ul li:nth-of-type(6) div p{
	width: 18rem;
}
.wx-content ul li:nth-of-type(7) div p{
	width: 10rem;
}
.wx-content ul li p:before{
	position: absolute;
	content: '';
	 width: 0;
  	height: 0;
  	border-top:0.5rem solid transparent;
  	border-bottom:0.5rem solid transparent;
 	border-right: 0.8rem solid #DBDBDB;
 	display: block;
	left:-0.8rem;
	top: 1rem;
}
.wx-content ul li p:after{
	position: absolute;
	content: '';
	 width: 0;
  	height: 0;
  	border-top:0.5rem solid transparent;
  	border-bottom:0.5rem solid transparent;
 	border-right: 0.8rem solid #fff;
 	display: block;
	left:-0.7rem;
	top: 1rem;
}

/*---------图片展示---------------*/

.show-img{
	width: 100%;
	height: 100%;
	z-index: 11111;
	position: absolute;
	left: 0;
	top: 0;
	-webkit-transform: scale(0);transform: scale(0);
	-webkit-transition: all 1s;transition: all 1s;
	background: #202125;
}
.show-img h2{
	width: 100%;
	margin:1.8rem auto;
	text-align: center;
	font-size: 2.3rem;
	z-index: 1111;
	position: relative;
}
.show-img p{
	position: absolute;
	left: 50%;
	top: 50%;
	font-size: 2.4rem;
	width: 100%;
	text-align: center;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	opacity: 0.6;
}
.show-img div{
	width: 100%;
	height: 100%;
	position: relative;
	z-index: 11;
}
.show-img div img{
	width: 21rem;
	height: 14.5rem;
	position: absolute;
	left: 50%;
	top: 25%;	
	z-index: 11;
	display: none;
	border-radius: 0.3rem;
}
.m1{	
	transform: translate(-200%) rotate(-45deg);
	-webkit-transform: translate(-200%) rotate(-45deg);
	opacity: 0.6;
	-webkit-animation:m1 4s;animation:m1 4s;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
}
@keyframes m1{
	10%{
		transform:translate(-200%) rotate(-40deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-40deg) scale(1);
		opacity: 0.6;
	}
	20%{
		transform:translate(-200%) rotate(-35deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-35deg) scale(1);
		opacity: 0.6;
	}
	40%{
		transform:translate(-200%) rotate(-25deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-25deg) scale(1);
		opacity: 0.6;
	}
	60%{
		transform:translate(-50%) rotate(-10deg) scale(1);
		-webkit-transform:translate(-50%) rotate(-10deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.4);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-90%,-80%) rotate(-25deg)  scale(0.8);
		-webkit-transform:translate(-90%,-80%) rotate(-25deg)  scale(0.8);
		opacity: 1;
	}
}
@-webkit-keyframes m1{
	10%{
		transform:translate(-200%) rotate(-40deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-40deg) scale(1);
		opacity: 0.6;
	}
	20%{
		transform:translate(-200%) rotate(-35deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-35deg) scale(1);
		opacity: 0.6;
	}
	40%{
		transform:translate(-200%) rotate(-25deg) scale(1);
		-webkit-transform:translate(-200%) rotate(-25deg) scale(1);
		opacity: 0.6;
	}
	60%{
		transform:translate(-50%) rotate(-10deg) scale(1);
		-webkit-transform:translate(-50%) rotate(-10deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.4);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-90%,-80%) rotate(-25deg)  scale(0.8);
		-webkit-transform:translate(-90%,-80%) rotate(-25deg)  scale(0.8);
		opacity: 1;
	}
}
.m2{
	transform: translate(200%) rotate(45deg);
	-webkit-transform: translate(200%) rotate(45deg);
	opacity: 0.6;
	-webkit-animation:m2 4s;animation:m2 4s;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
}
@keyframes m2{
	10%{
		transform:translate(200%) rotate(40deg) scale(1);
		-webkit-transform:translate(200%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	20%{
		transform:translate(200%) rotate(35deg) scale(1);
		-webkit-transform:translate(200%) rotate(35deg) scale(1);
		opacity: 0.6;
	}
	40%{
		transform:translate(200%) rotate(25deg) scale(1);
		-webkit-transform:translate(200%) rotate(25deg) scale(1);
		opacity: 0.6;
	}
	60%{
		ransform:translate(-50%) rotate(10deg) scale(1);
		-webkit-transform:translate(-50%) rotate(10deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.3);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-20%,-80%) rotate(20deg)  scale(0.8);
		-webkit-transform:translate(-20%,-80%) rotate(20deg)  scale(0.8);
		opacity: 1;
	}

	
}
@-webkit-keyframes m2{
	10%{
		transform:translate(200%) rotate(40deg) scale(1);
		-webkit-transform:translate(200%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	20%{
		transform:translate(200%) rotate(35deg) scale(1);
		-webkit-transform:translate(200%) rotate(35deg) scale(1);
		opacity: 0.6;
	}
	40%{
		transform:translate(200%) rotate(25deg) scale(1);
		-webkit-transform:translate(200%) rotate(25deg) scale(1);
		opacity: 0.6;
	}
	60%{
		ransform:translate(-50%) rotate(10deg) scale(1);
		-webkit-transform:translate(-50%) rotate(10deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.3);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-20%,-80%) rotate(20deg)  scale(0.8);
		-webkit-transform:translate(-20%,-80%) rotate(20deg)  scale(0.8);
		opacity: 1;
	}

	
}
.m3{
	-webkit-transform: translate(-50%,-300%) rotate(90deg);
	transform: translate(-50%,-300%) rotate(90deg);
	opacity: 0.6;
	-webkit-animation:m3 4s;animation:m3 4s;
	-webkit-animation-fill-mode:forwards;animation-fill-mode:forwards;
}
@keyframes m3{
	10%{
		transform:translate(-50%,-300%) rotate(70deg) scale(1);
		-webkit-transform:translate(-50%,-300%) rotate(70deg) scale(1);
		opacity: 0.6;
	}
	20%{
		-webkit-transform:translate(-50%,-300%) rotate(50deg) scale(1);
		transform:translate(-50%,-300%) rotate(50deg) scale(1);
		opacity: 0.6;
	}
	40%{
		-webkit-transform:translate(-50%,-300%) rotate(30deg) scale(1);
		transform:translate(-50%,-300%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(20deg) scale(1);
		transform:translate(-50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-95%,5%) rotate(10deg)  scale(0.8);
		transform:translate(-95%,5%) rotate(10deg)  scale(0.8);
		opacity: 1;
	}

	
}
@-webkit-keyframes m3{
	10%{
		transform:translate(-50%,-300%) rotate(70deg) scale(1);
		-webkit-transform:translate(-50%,-300%) rotate(70deg) scale(1);
		opacity: 0.6;
	}
	20%{
		-webkit-transform:translate(-50%,-300%) rotate(50deg) scale(1);
		transform:translate(-50%,-300%) rotate(50deg) scale(1);
		opacity: 0.6;
	}
	40%{
		-webkit-transform:translate(-50%,-300%) rotate(30deg) scale(1);
		transform:translate(-50%,-300%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(20deg) scale(1);
		transform:translate(-50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-95%,5%) rotate(10deg)  scale(0.8);
		transform:translate(-95%,5%) rotate(10deg)  scale(0.8);
		opacity: 1;
	}

	
}
.m4{
	-webkit-transform: translate(-200%,100%) rotate(90deg);
	transform: translate(-200%,100%) rotate(90deg);
	opacity: 0.6;
	-webkit-animation:m4 4s;
	animation:m4 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@keyframes m4{
	10%{
		-webkit-transform:translate(-200%,100%) rotate(70deg) scale(1);
		transform:translate(-200%,100%) rotate(70deg) scale(1);
		opacity: 0.8;
	}
	
	40%{
		-webkit-transform:translate(-100%,-100%) rotate(50deg) scale(1);
		transform:translate(-100%,-100%) rotate(50deg) scale(1);
		opacity: 0.9;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(30deg) scale(1);
		transform:translate(-50%) rotate(30deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.3);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-90%,100%) rotate(-20deg)  scale(0.8);
		-webkit-transform:translate(-90%,100%) rotate(-20deg)  scale(0.8);
		opacity: 1;
	}

}
@-webkit-keyframes m4{
	10%{
		-webkit-transform:translate(-200%,100%) rotate(70deg) scale(1);
		transform:translate(-200%,100%) rotate(70deg) scale(1);
		opacity: 0.8;
	}
	
	40%{
		-webkit-transform:translate(-100%,-100%) rotate(50deg) scale(1);
		transform:translate(-100%,-100%) rotate(50deg) scale(1);
		opacity: 0.9;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(30deg) scale(1);
		transform:translate(-50%) rotate(30deg) scale(1);
		opacity: 1;
	}
	80%{
		transform:translate(-50%) rotate(0deg) scale(1.3);
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		transform:translate(-90%,100%) rotate(-20deg)  scale(0.8);
		-webkit-transform:translate(-90%,100%) rotate(-20deg)  scale(0.8);
		opacity: 1;
	}

}
.m5{
	-webkit-transform: translate(200%,100%) rotate(90deg);
	transform: translate(200%,100%) rotate(90deg);
	opacity: 0.6;
	-webkit-animation:m5 4s;
	animation:m5 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@keyframes m5{
	10%{
		-webkit-transform:translate(200%,100%) rotate(70deg) scale(1);
		transform:translate(200%,100%) rotate(70deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(100%,50%) rotate(50deg) scale(1);
		transform:translate(100%,50%) rotate(50deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(30deg) scale(1);
		transform:translate(-50%) rotate(30deg) scale(1);
		opacity: 1;
	}
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,80%) rotate(10deg)  scale(0.8);
		transform:translate(-10%,80%) rotate(10deg)  scale(0.8);
		opacity: 1;
	}

}
@-webkit-keyframes m5{
	10%{
		-webkit-transform:translate(200%,100%) rotate(70deg) scale(1);
		transform:translate(200%,100%) rotate(70deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(100%,50%) rotate(50deg) scale(1);
		transform:translate(100%,50%) rotate(50deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%) rotate(30deg) scale(1);
		transform:translate(-50%) rotate(30deg) scale(1);
		opacity: 1;
	}
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,80%) rotate(10deg)  scale(0.8);
		transform:translate(-10%,80%) rotate(10deg)  scale(0.8);
		opacity: 1;
	}

}
.m6{
	-webkit-transform: translate(-50%,300%) rotate(50deg);
	transform: translate(-50%,300%) rotate(50deg);
	opacity: 0.6;
	-webkit-animation:m6 4s;
	animation:m6 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@keyframes m6{
	10%{
		-webkit-transform:translate(-50%,300%) rotate(40deg) scale(1);
		transform:translate(-50%,300%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,200%) rotate(30deg) scale(1);
		transform:translate(-50%,200%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%,50%) rotate(20deg) scale(1);
		transform:translate(-50%,50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}

@-webkit-keyframes m6{
	10%{
		-webkit-transform:translate(-50%,300%) rotate(40deg) scale(1);
		transform:translate(-50%,300%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,200%) rotate(30deg) scale(1);
		transform:translate(-50%,200%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%,50%) rotate(20deg) scale(1);
		transform:translate(-50%,50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}
/*.m7{
	-webkit-transform: translate(-50%,-300%) rotate(90deg);
	transform: translate(-50%,-300%) rotate(90deg);
	opacity: 0.6;
	-webkit-animation:m7 4s;
	animation:m7 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@keyframes m7{
	0%{
		-webkit-transform:translate(-50%,-300%) rotate(90deg) scale(1);
		transform:translate(-50%,-300%) rotate(90deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,-30%) rotate(30deg) scale(1);
		transform:translate(-50%,-30%) rotate(30deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-60%,50%) rotate(0deg)  scale(0.8);
		transform:translate(-60%,50%) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}

@-webkit-keyframes m7{
	0%{
		-webkit-transform:translate(-50%,-300%) rotate(90deg) scale(1);
		transform:translate(-50%,-300%) rotate(90deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,-30%) rotate(30deg) scale(1);
		transform:translate(-50%,-30%) rotate(30deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-60%,50%) rotate(0deg)  scale(0.8);
		transform:translate(-60%,50%) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}*/
.m7{
	-webkit-transform: translate(-50%,300%) rotate(50deg);
	transform: translate(-50%,300%) rotate(50deg);
	opacity: 0.6;
	-webkit-animation:m7 4s;
	animation:m7 4s;
	-webkit-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
}
@keyframes m7{
	10%{
		-webkit-transform:translate(-50%,300%) rotate(40deg) scale(1);
		transform:translate(-50%,300%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,200%) rotate(30deg) scale(1);
		transform:translate(-50%,200%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%,50%) rotate(20deg) scale(1);
		transform:translate(-50%,50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}

@-webkit-keyframes m7{
	10%{
		-webkit-transform:translate(-50%,300%) rotate(40deg) scale(1);
		transform:translate(-50%,300%) rotate(40deg) scale(1);
		opacity: 0.6;
	}
	
	40%{
		-webkit-transform:translate(-50%,200%) rotate(30deg) scale(1);
		transform:translate(-50%,200%) rotate(30deg) scale(1);
		opacity: 0.6;
	}
	60%{
		-webkit-transform:translate(-50%,50%) rotate(20deg) scale(1);
		transform:translate(-50%,50%) rotate(20deg) scale(1);
		opacity: 1;
	}
	
	80%{
		-webkit-transform:translate(-50%) rotate(0deg) scale(1.3);
		transform:translate(-50%) rotate(0deg) scale(1.3);
		opacity: 1;
	}
	100%{
		-webkit-transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		transform:translate(-10%,0) rotate(0deg)  scale(0.8);
		opacity: 1;
	}

}

/*-------------寄语-------------------*/
.end{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #202125;
	transform: scale(0);
	-webkit-transform: scale(0);
	transition: all 0.8s;
	-webkit-transition: all 0.8s;
}
.end h2{
	width: 100%;
	text-align: center;
	font-size: 3.4rem;
	margin:3rem auto;
}
.end div{
	width: 88%;
	margin: 6rem auto;
	text-align: left;
	font-size: 2rem;
}
.end div p{
	margin: 2.5rem 0;
}
/*------------媒体查询--------------*/

@media screen and (min-width: 320px) and (max-width: 359px) {
	.page1 .time{
		
	}
	.page1 .time .time-date{
		font-size: 1.5rem;
	}
	.page1 .time .time-clock{
		font-size: 7rem ;
	}
	.time-clock img{
		height: 3rem;
	}
	.wx-msg{
		top:28%;
	}
	.wx-msg ul li{
		height: 6rem;
	}
	.wx-msg ul li div {
		height: 7rem;
	}
	.wx-msg ul li div p{
		font-size: 1.4rem;
	}
	.wx-msg ul li + li{
		height: 5rem;
	}
	.wx-msg ul li + li p{
		font-size: 1.3rem;
	}
	.wx-msg .wx-now:after{
		font-size: 1rem;
	}
	.page1-footer .page1-footer-lock:before{
		left: 0;
	}
	.page1-footer-icon span{
		height: 0.6rem;
	}
	.page1-footer-icon i{
		transform: scale(1.1);
		-webkit-transform: scale(1.1);
	}
	.page1-footer .page1-footer-lock{
		font-size: 2rem;
	}

	/*--------解锁页面-----------*/

	.lock .lock-password{
		top:2.4rem;
	}
	.lock .lock-password p{
		font-size: 2.4rem;
	}
	.lock .lock-password div{
		height: 2rem;
		margin: 0.6rem auto;
	}
	.lock .lock-password input{
		font-size: 1.4rem;
		width: 1.5rem;
		height: 1.5rem;
		line-height: 1.5rem;
	}
	.lock-tips{
		font-size: 1.2rem !important;
		margin-top: -0.7rem;
		opacity: 0.5;
	}
	.lock-num-ul{
		margin: 32% auto;
		width: 19.5rem;
		height: 19.5rem;
	}
	.lock-num-ul li{
		width:5.3rem;
		height:5.3rem;
		margin: 0.6rem;
		line-height: 4.7rem;
		font-size:4rem ;
	}
	.lock-num-ul li:after{
		font-size: 1rem;
		bottom: -1.5rem;
		left:1rem;
		transform: scale(0.7);
		-webkit-transform: scale(0.7);
	}
	.lock-num-ul li:nth-of-type(7):after{
		left:0.5rem;
	}
	.lock-num-ul li:nth-of-type(9):after{
		left:0.5rem;
	}
	.lock-num-ul li:last-child{
		transform: translateX(-58%);
		-webkit-transform: translateX(-58%);
		line-height: 5.3rem;
	}
	.lock span{
		font-size: 1.7rem;
	}
	.main-home ul{
		margin-top: 0.8rem;
	}
	.main-home ul li{
	
		margin:1.3% 2.5%;

	}


/*-------------寄语-------------------*/

	.end h2{
		width: 100%;
		text-align: center;
		font-size: 2.6rem;
		margin:1.5rem auto;
	}
	.end div{
		width: 80%;
		margin:3rem auto;
		text-align: left;
		font-size: 1.5rem;
	}
	.end div p{
		margin: 2rem 0;
	}

 }
@media screen and (min-width: 360px) and (max-width: 374px){
	.lock .lock-password{
		top:4rem;
	}
	.lock .lock-password p{
		font-size: 3rem;
	}
	.lock .lock-password div{
		height: 2rem;
		margin: 1.4rem auto;
	}
	.lock .lock-password input{
		font-size: 2rem;
		width: 1.6rem;
		height: 1.6rem;
		line-height: 1.6rem;
	}
	.lock-tips{
		font-size: 1.5rem !important;
		margin-top: -0.7rem;
	}
	.lock-num-ul{
		width: 24rem;
		height: 24rem;
	}
	.lock-num-ul li{
		width:7rem;
		height:7rem;
		line-height: 5.4rem;
		font-size:5rem;
	}
	.lock-num-ul li:after{
		font-size: 1.1rem;
		bottom: -1.2rem;
		left:2.2rem;
		transform: scale(0.8);
		-webkit-transform: scale(0.8);
	}
	.lock-num-ul li:nth-of-type(7):after{
		left:1.6rem;
	}
	.lock-num-ul li:nth-of-type(9):after{
		left:1.6rem;
	}
	.lock-num-ul li:last-child{
		transform: translateX(-55%);
		-webkit-transform: translateX(-55%);
		line-height: 6rem;
	}
	.lock span{
		font-size: 2rem;
	}
	.main-home ul li{
		margin:3% 2.5%;
	}
}
 
@media screen and (min-width: 400px) {
    .lock-num-ul{
		width:27rem; 
		height:27rem;
		margin:45% auto;
	}
	.lock-num-ul li{
		width:8rem;
		height:8rem;
		line-height: 6.5rem;
		font-size:6rem;
	}
	.lock-num-ul li:after{
		font-size: 1.2rem;
		bottom: -1.6rem;
		left:2.5rem;
	}
	.lock-num-ul li:nth-of-type(7):after{
		left:1.8rem;
	}
	.lock-num-ul li:nth-of-type(9):after{
		left:1.8rem;
	}

	.main-home ul li{
	
		margin:3.2% 2.5%;
	
	}
}
 
@media screen and (min-width: 440px) {
   
}
 
@media screen and (min-width: 480px) {
    
}
 
@media screen and (min-width: 640px) {
   
}